@model MigracionTalentoExtranjero.Models.Administrator.Login
@{

}
<div id="login">
    <h1 class="page-header text-center">Autenticación </h1>

    <div class="row">
        <div class="col-xs-8">
            <div class="panel panel-default">
                <div class="panel-heading">Acceso al sistema</div>
                <div class="panel-body">
                    @using (Html.BeginForm("Acceder", "Administrator", FormMethod.Post, new { id = "frm-login" }))
                    {

                        <div class="form-group">
                            <label>Usuario</label>
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", type = "text", required = "required" })
                            @*<input type="text" name="Usuario" class="form-control" placeholder="Ingrese su Usuario" id="usuario" required />*@
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password", required = "required" })
                            @*<input type="password" name="Password" class="form-control" placeholder="Ingrese su Password" id="password" required />*@
                        </div>
                        <div class="text-left">
                            <button type="submit" class="btn btn-primary">
                                Ingresar
                            </button>
                        </div>
                        <div>
                            <label>@Model.Mensaje</label>
                        </div>

                        <div>
                            <a href="@Url.Content("~/Administrator/CambiarPassword")">Cambiar Contraseña</a>
                        </div>
                        <div>
                            <a href="@Url.Content("~/Administrator/RecuperarPassword")">¿Olvidaste tu contraseña?</a>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function () {
        hideLoader();
        let data = '';

        @*document.getElementById("frm-login").addEventListener("submit", async function (e) {
            showLoader();
            e.preventDefault();

            let url = "@Url.Content("~/Administrator/Login")";

            let usuario = document.getElementById("usuario").value;
            let password = document.getElementById("password").value;

            let params =
            {
                Username: usuario,
                Password: password,
            };

            const response = httpPost(
                url,
                params
            );

            const dataResponse = await response
                .then(data => {
                    return data;
                })
                .catch(error => {
                    console.log("Cayo a Catch: ", error);
                });
            console.log(dataResponse);
            if (dataResponse.response === false) {
                hideLoader();
            }



        });*@
    });
</script>
