@using MigracionTalentoExtranjero.Models.Catalogs

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ingreso a México Talento Extranjero</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/script")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="preloader" style="z-index:100;">
        <div class="spinner">
            <div class="spinner">
                <div class="spinner">
                    <div class="spinner">
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    }

    @if (User.Identity.IsAuthenticated && !controllerName.Equals("Home"))
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Migración de Talento Extranjero", "Index", "Administrator", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Catálogos <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @{
                                    List<ModuloDto> listaModulos = ConsultaModulosPerfil.ObtenerModulosDeSesion();

                                    foreach (var modulo in listaModulos)
                                    {
                                        if (!string.IsNullOrEmpty(modulo.DESC_PROCESS_SP) && !string.IsNullOrEmpty(modulo.URL_PROCESS))
                                        {
                                            <li><a href="@Url.Content(modulo.URL_PROCESS)">@modulo.DESC_PROCESS_SP</a></li>
                                        }
                                    }
                                    @*<li><a href="@Url.Content("~/Catalogs/Eventos")">Eventos</a></li>
                                        <li><a href="@Url.Content("~/Catalogs/Empresas")">Empresas</a></li>
                                        <li><a href="@Url.Content("~/Catalogs/Paises")">Paises</a></li>
                                        <li><a href="@Url.Content("~/Catalogs/Aerolineas")">Aerolineas</a></li>
                                        <li><a href="@Url.Content("~/Catalogs/Aeropuertos")">Aeropuertos</a></li>
                                        <li><a href="@Url.Content("~/Catalogs/Inmuebles")">Inmuebles</a></li>
                                        <li><a href="@Url.Content("~/Catalogs/Nacionalidades")">Nacionalidades</a></li>
                                        <li><a href="@Url.Content("~/Catalogs/Sexos")">Sexos</a></li>
                                        <li><a href="@Url.Content("~/Catalogs/Usuarios")">Usuarios</a></li>
                                        <li><a href="@Url.Content("~/Catalogs/Documentos")">Documentos</a></li>
                                        <li><a href="@Url.Content("~/Catalogs/PDFs")">PDFs</a></li>
                                        <li><a href="@Url.Content("~/Catalogs/TipoEventos")">Tipos de evento</a></li>
                                        <li><a href="@Url.Content("~/Catalogs/AvisoPrivacidad")">Aviso de Privacidad</a></li>
                                        <li><a href="@Url.Content("~/Catalogs/Perfiles")">Perfiles</a></li>*@
                                }
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Content("~/Administrator/logout")">Finalizar Sesión</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - OCESA</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
